@import "../node_modules/bootstrap/scss/bootstrap";

.body, html {
    height: 100%;
    overflow-x: hidden;
    width:100%;
}

// home page
.backgroud{
    background-image: url(./images/backgroud.png);
    height: 100%;  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 8rem;
    size: 100%;
    
  }

.name{
    font-family:"Helvetica Neue", Arial, sans-serif,;  
    font-size:6rem;  
    text-align: start;
    margin-top: 3rem;
    margin-left: 5rem;

}

.job{
    margin-left: 6rem;
    margin-top: 3rem;
    text-align: start; 
    font-size: 4rem;
}

// about page
.backgroud-about{
    background-image: url(./images/backGround.png);
    height: 100%;  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-about{
    padding-top: 15rem;
    
}

.me-image{
    height: 20rem;
    width: 20rem;
  margin-right: 2rem;
  margin-top: 2rem;
     
}
.text{
    margin-top: 2rem;
}

// contact page

.contact-text{
  font-size: 2rem;
}

.white{
  color: white;
}

.contact-div{
  text-align: center;
  padding-top: 15rem;
}

.media-button{
  margin-left: 1.5rem;
} 

//skills page
.skills-title{
  padding-top: 8rem;
}
.skills-grid{
  padding: 4rem;
  
}
.skills-col{
  text-align: left;
  padding-left: 5rem;
}
.skills-col-left{
padding-left: 20rem;
}

.skills-margin{
  margin-top: 3rem;
  margin-left: 2rem;
}
.skills-h3{
  margin-right: 2rem;
}
.modal-button{
  margin-left: 1rem;
}



@media only screen and (max-width: 1200px) {
  // skills page

  .skills-title{
    padding-top: 4rem;
  }
  .skills-grid{
    padding: 3rem;
  }
  
  .skills-col-left{
    padding-left: 5rem;
    }
    .skills-col{
      text-align: left;
      padding-left: 0rem;
    }
  
}

@media only screen and (max-width: 600px) {
  // skills page
  .skills-title{
    padding-top: 2rem;
  }
  .skills-col-left{
    padding-left: 0rem;
    }
    .skills-col{
      text-align: left;
      padding-left: 0rem;
    }

    .skills-grid{
      padding: 2rem;
      
    }
    
    .skills-margin{
      margin-top: 3rem;
      margin-left: 2rem;
    }
    .skills-h3{
      margin-right: 1rem;
    }

  
}

